<% layout("/layouts/boilerplate") %>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-4 mt-5 search-result">


<% if (results) { %>
    
        <% results.forEach(result => { %>
            <a href="/home/<%= result._id  %>" class="blog-link">
                <div class="card col blog-card">
                    <img src="<%= result.image.url %>" class="card-img-top" style="height: 20rem;" alt="blogimage">
                    <div class="card-body">
                        <h5 class="card-title"><b><%= result.title %></b></h5>
                        <h6  class="card-title"> (<%= result.location  %>)</h6>
                        <p class="card-text"><%= result.description %></p>
                    </div>
                </div>
            </a>
        <% }) %>
    
<% } else { %>
</div>
    <p>No matching blogs found.</p>
<% } %>

